/* components/HomePage.css */
.home-page {
    background-image: url('/src/images/Home.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    height: 80vh; /* Set the height to 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-container {
    background-color: rgba(39, 38, 38, 0.7); /* Add a semi-transparent background color */
    padding: 20px;
    text-align: center;
  }
  /* Add any additional styles as needed */
  